.grid3{
display: grid;
grid-template-columns: repeat(2,1 fr);
gap: 5px;
margin: 0 auto;
margin: 800px;
padding-bottom: 100px;
}
.grid3.item1{
    grid-row: 1/3;
    padding: 0px;
}
.grid3.item1 img{
    width: 100%;
    height: 100%;
    grid-row: 1/3;
}
.grid.item img{
    height: 100%;
}