@charset "UT-8";
body{
 font-family: "Young Serif", serif;
    margin: 0;
    padding: 0;
}
footer{
    background-color: rgb(162, 235, 238);
    color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}