@charset "UT-8";
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Young+Serif&display=swap');
h1{
     font-family: "Elsie Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 50px;
  color:rgb(0, 0, 0)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.box-Animado{
    width: 100%;
    padding: 350px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 500% 100%;
    background-image: linear-gradient(to left,#000000,#FF5AEB,#00F2EB,#FFFFFF,#00043C);
    animation: animacor 5s infinite alternate;

}
@keyframes animacor{
    0%{
    background-position-x: 0%;
    }
    100%{background-position-x: 100%;
    }
}